{% extends "base.html" %}
{% load static %}
{% load octicons %}



{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <h1 class="my-2 light-title">My categories</h1>
                <div class="table border-dark d-inline-block" style="min-height: 25rem">
                    <table class="w-100">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Documents</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cat in categories %}
                            <tr>
                                <td>{{ cat.category.id }}</td>
                                <td>{{ cat.category.title }}</td>
                                <td>
                                    {% for doc in cat.docs %}
                                        <a class="btn btn-success btn-no-hover" role="button"
                                           href="{{ doc.document.file.url }}" target="_blank">
                                            {{ doc.document.file.name }}
                                        </a>
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="container px-2 justify-content-center">

                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>No groups yet</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

