{% extends "base.html" %}
{% load static %}

{% block head_tag %}
    <link href="{% static 'dashboard/css/signin.css' %}" rel="stylesheet">
{% endblock head_tag %}


{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form class="form-signin" action="{% url 'auth_app:signup' %}{{ uuid }}" method="post">{% csrf_token %}
                    <img class="mb-4" src="{% static 'dashboard/images/logo-small2.png' %}" alt="" width="72"
                         height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Зарегистрируйся</h1>

                    <label for="inputLogin" class="sr-only">Логин</label>
                    <input name="username" id="inputLogin" class="form-control" placeholder="Логин" required autofocus>

                    <label for="inputPassword1" class="sr-only">Пароль1</label>
                    <input name="password1"  type="password" id="inputPassword1"
                           class="form-control" placeholder="Пароль" required>

                    <label for="inputPassword2" class="sr-only">Пароль2</label>
                    <input name="password2"  type="password" id="inputPassword2"
                           class="form-control" placeholder="Повторите пароль" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}